@model AspNetMvcEFBootstrapAngular.ViewModels.ListViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdModel" />
            <div class="form-group">
                <label asp-for="BitchNameModel" class="control-label"></label>
                <input asp-for="BitchNameModel" class="form-control" />
                <span asp-validation-for="BitchNameModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberModel" class="control-label"></label>
                <input asp-for="NumberModel" class="form-control" />
                <span asp-validation-for="NumberModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiTDescriptionModel" class="control-label"></label>
                <input asp-for="TiTDescriptionModel" class="form-control" />
                <span asp-validation-for="TiTDescriptionModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureModel" class="control-label"></label>
                <input asp-for="ProfilePictureModel" class="form-control" />
                <span asp-validation-for="ProfilePictureModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

